.my-separator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-separator > *{
    padding: 10px 20px;
}

.my-separator:before,
.my-separator:after{
    content: '';
    background-color: currentColor;
    height: 4px;
    width: 10%;
    max-width: 200px;
    display: block;
}



