header{
    background-color: var(--my-bg-darkblue);
}

main section:nth-child(odd){
    background-color: var(--my-bg-green);
    color: var(--cl-white);
}

.navbar ul .nav-link{
    color: var(--cl-white);
}

#contact-me .form-floating textarea{
    height: 150px;
}

#contact-me button{
    background-color: var(--my-bg-green);
}

.footer-top{
    background-color: var(--my-bg-darkblue-2);
}

.footer-bottom{
    background-color: var(--my-bg-darkblue);
}

.white-line{
    background-color: var(--cl-white);
}

.dark-line{
    background-color: var(--my-bg-darkblue);
}

.separator i .dark-star{
    color: var(--my-bg-darkblue);
}

.my-color-green{
    color: var(--my-bg-green);
}